:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* text-color */
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --logo-text-color: #000000;
    /* bacground-calor */
    --main-bacground-color: #FFFFFF;
    --secondary-bacground-color: #2F303A;
    --galerry-bacground-color: #E5E5E5;
    --team-bacgrount-color: #F5F4FA;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}