.logo-footer {
    @extend %link-decor;
    display: inline-block;
    margin-bottom: 20px;
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    @include mq(tablet) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    @include mq(desktop) {
        margin-bottom: 20px;
        margin-right: 93px;


    }




}



.logo-title-span {
    color: var(--secondary-text-color);
}