/* Форпма заполнения для МОДАЛЬНОГО ОКНА */
.modal-title {
    display: flex;
    justify-content: center;
    color: var(--title-text-color);

    @include mq(mobile) {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.03em;
    }


    @include mq(desktop) {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
    }
}

.modal-form {
    text-align: center;
    max-width: 100%;

    @include mq(desktop) {
        width: 448px;
    }
}

.contact-form {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}


.contact-form-label {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-modal-input {
    position: relative;
    display: block;
}

.form-input-title {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 12px 16px;
    padding-left: 42px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover+.form-icon,
    &:focus+.form-icon {
        color: var(--accent-color);
    }

    &:hover,
    &:focus {
        outline: 0;
        border-color: var(--accent-color);
    }
}







.form-icon {
    position: absolute;
    top: 50%;
    left: 13px;
    pointer-events: none;
    color: var(--title-text-color);
    fill: currentColor;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {

        color: var(--accent-color);
    }
}