.mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(tablet) {
        display: none;
    }
}

.mob-menu-toggle {
    display: inline-flex;
    color: var(--title-text-color);
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
}

.mob-menu__open-icon {
    transition: fill var(--transition-duration) var(--timing-function);

    .mob-menu-toggle:hover &,
    .mob-menu-toggle:focus & {
        fill: var(--accent-color-background);
    }
}

.mob-menu-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-text-color);
    width: 100%;
    height: 100%;

    z-index: 20;

    // overflow-y: scroll;

    padding: 48px 40px;

    opacity: 0.8;
    transform: translateX(-100%);
    transition: transform var(--transition-duration) var(--timing-function),
        opacity var(--transition-duration) var(--timing-function);
}

.mob-menu-container.is-open {
    opacity: 1;
    transform: translateX(0);
}

// mob-menu

.header-mob-menu__item {
    font-weight: 500;
    font-size: 8.3333vw;
    line-height: 1.18;
    letter-spacing: 0.02em;

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &:last-child {
        margin-bottom: 302px;
    }
}

.header-mob-menu__link {
    display: block;

    color: var(--title-text-color);

    &--current {
        color: var(--accent-color-background);
    }
}

// mob-contacts

.header-mob-contacts__item {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 64px;
    }
}

.header-mob-contacts__link {
    font-weight: 500;
    font-size: 5vw;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.accent {
    font-weight: 500;
    font-size: 7.0833vw;
    line-height: 1.18x;
    letter-spacing: 0.02em;

    color: var(--accent-color-background);

    &:hover,
    &:focus {
        color: var(--interactive-background-color);
    }

    transition: color var(--transition-duration) var(--timing-function);
}

//mob-socials
.header-mob-socials {
    display: flex;
    align-items: center;
}

.header-mob-socials__item {
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        color: var(--interactive-background-color);
    }

    transition: color var(--transition-duration) var(--timing-function);

    &:not(:last-child)::after {
        content: '';

        display: inline-block;
        margin: 0 10px;

        width: 2px;
        height: 22px;

        background-color: rgba(33, 33, 33, 0.2);
    }
}

.header-mob-socials__link {
    font-weight: 500;
    font-size: 3.75vw;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-color-background);
}

// close mob-menu
.mob-menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.mob-menu__close-icon {
    transition: fill var(--transition-duration) var(--timing-function);

    .mob-menu-close:hover &,
    .mob-menu-close:focus & {
        fill: var(--accent-color-background);
    }
}