/* Портфолио  */
/* button portfolio */
.features-section {
    background-color: var(--main-bacground-color);
}

.btn-portfolio {
    display: inline-block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    font-family: inherit;
    border: none;
    color: var(--title-text-color);
    background-color: var(--team-bacgrount-color);
    cursor: pointer;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    /* box-shadow: 0px 4px 4px rgb(0 0 0 / 15%); */
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--secondary-text-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


.control {
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;

    list-style: none;

    @media screen and (min-width: $mobile) {}

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: $desktop) {}
}

.control-btn {
    display: inline-flex;

    padding-top: 0;
    margin-top: 0;

    @media screen and (min-width: $tablet) {

        &+& {
            margin-left: 8px;
        }


    }

}