/* btn-comment */
.btn-comment {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;
    color: var(--main-bacground-color);
    border: none;
    background-color: var(--accent-color);
    padding: 10px 55px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    outline: transparent;

    &:hover,
    &:focus {
        background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}