.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-property: color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color)
    }

    &:hover .modal-icon,
    &:focus .modal-icon {
        fill: var(--secondary-text-color);
        transform: rotate(180deg);
    }
}

.modal-icon {
    transform: rotate(0deg);
    transition-property: color;
    color: var(--secondary-text-color);
    transition-property: fill, transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0;
}