body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--main-bacground-color);
}

/* Падинги для секций */
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}