/* Container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    // mobile screen from 480px
    @media screen and (min-width: 480px) {
        width: 448px;
    }

    @include mq(mobile) {
        width: 480px;
    }



    @include mq(tablet) {
        width: 720px;
    }




    @include mq(desktop) {
        width: 1200px;
    }
}