h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    transition: color var(--transition-duration) var(--transition-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    text-decoration: none;
}

a {
    text-decoration: none;
}