/* Портфолио  */
/* button portfolio */
.features-section {
    background-color: var(--main-bacground-color);

}

/* Товары и услуги */


.features {
    @extend %list;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

}

.features-item {
    display: flex;
    flex-direction: column;
    // align-items: center;


    width: 100%;

    @media screen and (max-width: 767.98px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 3);
    }

}



.features-heading {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
    border-top: none;

    @include mq(tablet) {
        // display: flex;
        flex-grow: 1;
    }

}

.features-items {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    color: var(--title-text-color);
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;

    color: var(--main-text-color);
}

/* Шторка для Товары и услуги */
.features-overlay {
    position: relative;
    overflow: hidden;
}




.features-overlay-text {
    position: absolute;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover .features-overlay-text,
.icon:focus .features-overlay-text {
    transform: translateY(-100%);
    opacity: 1;

}

/* Товары и услуги Иконки  и рамки */
.icon {
    @extend %link-decor;

    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

    }
}