// footer container
.footer-section {
    background-color: var(--secondary-bacground-color);
    color: var(--secondary-text-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-social {
    // @extend .container;

    @include mq(tablet) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
    }

    @include mq(desktop) {
        justify-content: left;
        flex-wrap: nowrap;
    }
}

// footer addres
.footer-aside {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;

    @include mq(tablet) {
        width: 231px;
        margin-right: 165px;
    }

    @include mq(desktop) {
        text-align: left;
        margin-right: 70px;
        margin-bottom: 0;
    }
}

.footer-address {
    font-style: inherit;
}

// .address {
//     font-style: normal;

// }
.team-footer {
    @extend %list;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.footer-item {
    margin-top: 9px;
}

.footer-item:not(:last-child) {
    margin-top: 9px;
}

.footer-text {
    @extend %link-decor;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



.footer-link {
    @extend %link-decor;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}