/*Герой */
.hero-section {
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-8.jpg);
    background-color: var(--secondary-bacground-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    @include mq(desktop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-title {
    @extend %no-margin;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin: auto;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    @include mq(desktop) {
        font-size: 40px;
        line-height: 1.36;
    }
}