/* Наша команда */
.team-section {
    @extend .section;
    background-color: var(--team-bacgrount-color);

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 50px;
}

.team {
    @extend %list;

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}


.img-item {
    width: 100%;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include mq(mobile-only) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include mq(tablet) {
        width: 354px;

        &:nth-child(odd) {
            margin-right: 30px;
        }

        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
    }

    @include mq(desktop) {
        width: 270px;

        &:nth-child(-n + 2) {
            margin-bottom: 0;
        }

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}






.items-team {
    // padding: 30px 32px;
    padding-top: 30px;
    padding-bottom: 30px;

    @include mq(not-desktop) {
        padding-bottom: 24px;
    }


}

.team-item {
    @extend %no-margin;

    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--title-text-color);
}

.team-items {
    @extend %list;

    display: flex;
    justify-content: center;
}

.items-icon {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}



.team-text {
    @extend %no-margin;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;

    color: var(--main-text-color);
}

// .img-item:not(:last-child) {
//     margin-right: 30px;
//     width: 270px;
// }